@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color;
  }

  .font-#{$name} {
    color: $color;

    &::placeholder {
      color: $color;
    }
  }

  .border-#{$name} {
    border: 1px solid $color;
  }
}