@each $name, $color in $colors {
  .bg-#{$name} {
    background: linear-gradient(90deg, darken($color, 10), lighten($color, 5), lighten($color, 10));
  }

  .font-#{$name} {
    color: $color;

    &::placeholder {
      color: $color;
    }
  }

  .border-#{$name} {
    border: 1px solid $color;
  }
}